*.DS_Store
multiqc/fastp/*
.Rproj.user
MegaSAS.log
test*
data/*/*gff*
data/*/*gtf*
data/*/*rds
data/*RDS
data/*rds
data/Annotations-host/*gz
data/Annotations-host/*RDS
data/Annotations-host/*tsv
data/*.rds
data/*.RDS
data/*gz
scratch/*
logs/*
MegaSAS.log
old-stuff/*